#about-container {
  background: rgb(155, 155, 155);
}

.about-heading {
  color: rgb(16, 91, 231);
  text-align: center;
  padding: 40px;
}

.about-content {
  padding: 0px 20px;
}

.about-content p {
  padding: 20px;
  text-align: center;
  background: #e7f58b;
}

.about-logo1 img,
.about-logo2 img {
  width: 650px;
  height: 400px;
}
.aboutpic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
