@import 'about';
@import 'law';
@import 'contact';
@import 'login';
@import 'register';
@import 'cs';
// ulils
.pl {
  padding-left: 70px;
}
.pr {
  padding-right: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Piazzolla', serif;
  line-height: 1.7em;
  background-color: #fff;
}

//Navbar
.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
#navbar ul {
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar {
  background: #333;
  overflow: hidden;
}
#navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f5bf8a;
}
#navbar #call {
  color: #fff;
}

#icon-phone {
  padding: 10px;
  color: #fff;
  background: #444;
}
#navbar #icon-phone:hover {
  color: greenyellow;
}

//Showcase
#showcase {
  background: url('../img/footstep4child.jpg') no-repeat center center/cover;
  color: white;
  height: 92vh;
}
.showcase-content {
  text-align: center;
  padding-top: 170px;
  h1 {
    margin: 0;
    line-height: 1.2;
  }
  span {
    color: #fa1313f1;
  }
}
.type {
  text-align: center;
  padding-top: 1%;
}
h2 {
  color: black;
  line-height: 1.2;
}

// Grids using flex
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  background: #6d6e70;
  // background: url(../img/sunsetlostchild.jpg) no-repeat center center/cover;
}
.corner h3 {
  background: #ec543d;
}
.registerlogin h3 {
  background: #ec9e0e;
}
.registerlogin li {
  list-style: none;
}
.registerlogin li a {
  text-decoration: none;
  font-size: large;
}
.registerlogin li a:hover {
  color: rgb(255, 0, 0);
}
.corner ul li {
  font-size: large;
}
.registerlogin,
.corner {
  // background: #333;
  padding: 40px;
  background: lightskyblue;
  border-radius: 25px;
}
p {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
div .transbox {
  margin: 60px;
  opacity: 0.6;
  padding-top: 35px;
}
div .transbox p {
  padding: 50px;
  margin: 5%;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  font-size: large;
}
